<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,700;1,700&display=swap" rel="stylesheet">
</head>

<app-header></app-header>
<!-- Intro -->
<div class="center welcome">
    <span class="name">Thodori Kapouranis</span>
    <div>
        <span class="bottomtext">Cooper Union Electrical Engineering 2022</span>
    </div>
</div>

<!-- Work Section -->
<app-work [key]=0 [color]=0></app-work>
<app-work [key]=1 [color]=1></app-work>
<app-work [key]=5 [color]=0></app-work>
<app-work [key]=2 [color]=1></app-work>
<app-work [key]=3 [color]=0></app-work>
<app-work [key]=4 [color]=1></app-work>
